<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%
    var number = 5;
    for(var i = 0;i<=3;i++){%>
        <p>haha</p>
      <%}%>
     <p> <%= number%></p>
     <p><%= testEmDi %></p>
     <%- include('header')%>
  </body>
</html>
